/*body {*/
    /*background: #C09F80 !important;*/
/*}*/

hr {
    border-color: white !important;
}

.card.rounded {
    border-color: #232323 !important;
}

.card-body {
    background: #D7CEC7 !important;
    color: black !important;
}

.card-header{
    background: #76323F !important;
    color: white !important;
}

#param-label{
    font-weight: bolder;
    font-size: larger;
}